---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>

<ul class="item-list">
{% for post in site.publications reversed %}
  {% if post.id %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% else %}
    {% assign title = post.title %}
  {% endif %}

  <li class="item">
    <h2 class="item-title"><a href="{{ post.url }}">{{ title }}</a></h2>
    <p class="item-meta muted">Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    <div class="item-excerpt">
      {% if post.content %}
        {{ post.content }}
      {% elsif post.excerpt %}
        {{ post.excerpt | markdownify }}
      {% endif %}
    </div>
    {% if post.paperurl %}<p class="links"><a href="{{ post.paperurl }}">Download here</a></p>{% endif %}
  </li>
{% endfor %}
</ul>
