{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="item">
  <h2 class="item-title"><a href="{{ post.url }}">{{ title }}</a></h2>
  <p class="item-meta muted">
    {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% endif %}
    {% if post.type %} &middot; {{ post.type }}{% endif %}
    {% if post.venue %} at {{ post.venue }}{% endif %}{% if post.location %}, {{ post.location }}{% endif %}
  </p>
  {% if post.excerpt %}<p class="item-excerpt">{{ post.excerpt | markdownify }}</p>{% endif %}
</li>
