{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="item">
  <h2 class="item-title"><a href="{{ post.url }}">{{ title }}</a></h2>

  {% if post.collection == 'teaching' %}
    <p class="item-meta muted">{{ post.type }}{% if post.venue %}, {{ post.venue }}{% endif %}{% if post.date %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</p>
  {% elsif post.date %}
    <p class="item-meta muted"><time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
  {% endif %}

  {% if post.excerpt %}<p class="item-excerpt">{{ post.excerpt | markdownify }}</p>{% endif %}

  {% if post.citation or post.paperurl or post.slidesurl or post.bibtexurl %}
    <p class="links muted">
      {% if post.citation %}Recommended citation: {{ post.citation }}<br>{% endif %}
      {% if post.paperurl %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
      {% if post.slidesurl %}{% if post.paperurl %} &middot; {% endif %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
      {% if post.bibtexurl %}{% if post.paperurl or post.slidesurl %} &middot; {% endif %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
    </p>
  {% endif %}
</li>
