---
layout: default
---
<article class="page">
  {% if page.author_profile and page.url == "/" %}{% include profile.html %}{% endif %}
  <div class="page-content-wrap">
    {% if page.title %}<h1 class="page-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}

    {% if page.collection == 'teaching' %}
      <p class="page-meta muted">{{ page.type }}{% if page.venue %}, {{ page.venue }}{% endif %}{% if page.date %}, {{ page.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</p>
    {% elsif page.venue and page.date %}
      <p class="page-meta muted">Published in {{ page.venue }}, {{ page.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% elsif page.date %}
      <p class="page-meta muted"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    <div class="page-content">
      {{ content }}
    </div>

    {% if page.citation %}<p class="citation muted">Recommended citation: {{ page.citation }}</p>{% endif %}

    <p class="links">
      {% if page.paperurl %}<a href="{{ page.paperurl }}">Download Paper</a>{% endif %}
      {% if page.slidesurl %}{% if page.paperurl %} &middot; {% endif %}<a href="{{ page.slidesurl }}">Slides</a>{% endif %}
      {% if page.bibtexurl %}{% if page.paperurl or page.slidesurl %} &middot; {% endif %}<a href="{{ page.bibtexurl }}">BibTeX</a>{% endif %}
      {% if page.link %}{% if page.paperurl or page.slidesurl or page.bibtexurl %} &middot; {% endif %}<a href="{{ page.link }}" class="btn">Direct Link</a>{% endif %}
    </p>

    {% if page.tags %}
    <p class="tags">
      {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
    </p>
    {% endif %}
  </div>
</article>
